
/* =============layout=========== */

html, body, .capa{
	height: 100%;
}

body {
	background: url('imagens/capa.png'),
	            url('imagens/ruido.png'), /* vai fazer uma combinacao */
	            linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed; /*fazer o background ficar parado*/ 
	font-family: Helvetica,Arial,sans-serif; 
	overflow-x: hidden;      
}

/* barra de navegacao */
.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain; /*mesmo tamanho da class*/
	color: transparent;
}

nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0,0,0,0.6); /*transparencia*/
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}

/* ========== imagem de capa ===========*/

.capa{
	border: 1px solid red;
	display: table; /*deixar como table para alinhar no centro*/
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;/*deixar como table para alinhar no centro*/
	vertical-align: middle;/*deixar como table para alinhar no centro*/
}

/* ========== botoes ===========*/

.btn-custon{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px; /*outros brownsers*/
	-moz-border-radius: 500px; /*outros brownsers*/
	padding: 10px 35px;
	margin: 0px 15px;
	text-transform: uppercase;/*deixar todos como maiuscula*/
    transition: background 0.4s, color 0.4s;
}

.btn-roxo{
	background: #7c25f8;
}

.btn-roxo:hover{
	background-color: #6207e3;
	color: white;
}

.btn-branco{
	border: 2px solid white;
}

.btn-branco:hover{
	background-color: white;
	color: black;
}

/* ========== seccao servicos ===========*/

#servicos{
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.albuns{
	padding: 10px 0px 10px 0px;
}

/* ========== recursos ===========*/

#recursos{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(30deg); /* chrome, safari, opera */
	padding-left: 80px;
}

/* =============tipografia=========== */

h1{
	font-size: 100px;
	font-weight: 900px;
	letter-spacing: -0.05em; /*espacamento entre cada letra*/
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#servicos h2, #servicos h3{
	color: #7c25f8;
}

#recursos h3{
	color: #9bf0e1;
}



